// ------------------------------
// Scribe Template: CSS > Theme
// ------------------------------



// ------------------------------
// 1. #Global Breakpoints
// ------------------------------

// Page is contained and centered
@bp-global-above-fullwidth: ~"only screen and (min-width: 2000px)";

// Page displayed full width
@bp-global-below-fullwidth: ~"only screen and (max-width: 2000px)";

@bp-global-large: 	~"only screen and (min-width: 1400px)";
@bp-global-medium: 	~"only screen and (min-width: 770px) and (max-width: 1400px)";
@bp-global-small: 	~"only screen and (max-width: 769px)";
@mobile: ~"only screen and (max-width: 650px)";

// When specific styles for responsive columns styles are applied
@bp-global-columns: ~"only screen and (min-width: 478px)";




body {
    background-color: darken(@color__body--background, 12%);
}


// Page Content
// ------------------------------


.page-content {
    background-color: @color__body--background;

    @media @bp-global-above-fullwidth {
        width: 2000px;
        margin: 0 auto;
    }
}






// ------------------------------
// 3. #Floating Footer Fix
// ------------------------------




// Avoids Floating Footer
// ------------------------------


.page-content > .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100vh;
}

.page {
    -webkit-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}





// ------------------------------
// 4. #Header
// ------------------------------


// Template Header
// ------------------------------


.template-header {
    position: absolute;
    top: 0;
    z-index: 10050;
    width: 100%;
    min-height: 150px;
    padding: 30px 70px;
    background-color: @color__header--background;
    .gradient(@color__header--background, transparent);

    @media @bp-global-medium {
        min-height: 120px;
        padding: 20px 40px;
    }
    @media @tablet {
        min-height: 100px;
        padding: 20px;
    }


    // Container
	.container {
		.flex-display;
		.justify-content(space-between);
        .align-items(center);
	}

    .flex-item {
        width: 33.333%;

        @media @mobile {
            width: 60%;

            &:first-child,
            &:last-child {
                width: 10%;
            }

        }
    }

    .phone-number-link {
        font-family: @font__h4--font-family;
        font-size: 13px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 3px;
        color: @color__companyname--text;

        &:before {
            display: none;

            @media @tablet {
                display: inline-block;
                font-size: 26px;
                line-height: 47px;
            }
        }
    }
    .phone-number {
        @media @tablet {
            display: none;
        }
    }
    .companyname,
    .logo {
        text-align: center;
    }
    .companyname {
        margin-top: 10px;
    }
}


// Header: When feature is hidden

.widget[data-widget-type="feature"].bk-tpl-hidden + .template-header {
    position: relative;
    background: @color__body--background;
    min-height: initial;
    border-bottom: 1px solid darken(@color__body--background, 10%);

    .phone-number-link,
    .company-link {
        color: @color__h2--text;
    }
    .navigation-toggle {
        background-color: @color__h2--text;

        &:after, &:before {
            background: @color__h2--text;
        }
    }
}




// Template Navigation
// ------------------------------


.template-navigation {
    min-width: 50px;
}




// ------------------------------
// 5. #Footer
// ------------------------------



// Template Footer
// ------------------------------


.template-footer {
    box-shadow: 0px -1px 0px 0px darken(@color__body--background, 5%);


    // Container
    // ------------------------------


	.container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;



        @media @tablet {
            display: block;
        }


        // Widget
        .widget {
            @media @bp-global-large {
                padding: 40px 70px;
            }
            @media @bp-global-medium {
                padding: 30px 40px;
            }
            @media @bp-global-small {
                padding: 20px 20px;
            }
        }
	}
}







// ------------------------------
// 6. #Main Zone
// ------------------------------





// -------------------------------
// 7. #Typography
// -------------------------------




a {
	color: @color__link--text;
    &:hover {
        text-decoration: none;
    }
}


