{% extends "layout.twig" %}

{% block content %}

<section class="page  page--inner  page--careers">


    <div class="page-title  page-title--careers">
        <div class="page-title-content-wrap">
            {{widget('pagetitle', 'page-title', {})|raw}}
        </div>
    </div>


    <!-- Main Content -->
    <div class="main-content">

        <!-- Section: careers Intro -->
        <div class="section  section--careers">
            <div class="container">

                {{widget('content', 'careers-text1', { content:'
                    <h2>Our mission is to bring companies together.</h2>
                    <p>And we do this by bringing our sales and product expertise to the table. We’re always on the look out for biz dev, product and marketing people to join our company.</p>
                '})|raw}}

            </div>
        </div>

        <!-- Section: Contact-->
        <div class="section  section--grey  section--contact">
            <div class="container">

                <div class="row">
                    <div class="col  col--35">
                        {{widget('content', 'careers-text2', { content:'
                            <h5>Get In Touch</h5>
                            <p class="p-sml">If you’re looking for a diverse job where you can take on different projects, travel a bit and work with fun people you can learn from, then please reach out!</p>
                            <p><b>Email:</b> <a href="mailto:info@fdm.global" class="">info@fdm.global</a></p>
                        '})|raw}}
                    </div>
                    <div class="col  col--65">
                        {{zone('main')|raw}}
                    </div>
                </div>

            </div>
        </div>

    </div>


</section>

{% endblock %}
