{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<section class="page  page--home">

	{% include "includes/hero.twig" %}

	<!-- Zone Content -->
    <div id="main-scroll" class="main-content">
        <div class="container">

            <div id="page-zones__main-widgets__569388e827f67" data-name="responsivecolumns" class="widget  widget--zone-widget js-droppable" data-uniqueid="l6eVZbadI4eMMZe">

    <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">

         <section id="page-zones__main-widgets__569388e827f67-zones__569388e8326a5" class="bk-zone column columns-three-left" data-uniqueid="3rOgmzIyM4jVwPl">
            <div id="page-zones__main-widgets__569388e827f67-zones__569388e8326a5-widgets__569388e83c0bd" data-name="content" class="widget  widget--zone-widget js-droppable" data-uniqueid="IRkbPLMaTH6ZMx8">

            <div class="bk-content-text  content  widget__content  js-text-content  wysihtml-editor-content" id="IRkbPLMaTH6ZMx8__editor">

                    <h2 style="text-align: center;">Section 1.10.32 of "de Finibus Malorum"</h2><p style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa&nbsp;quae ab illo inventore veritatis et quasi architecto.</p>
            </div>

        </section>

        <section id="page-zones__main-widgets__569388e827f67-zones__569388e8326a5" class="bk-zone column columns-three-middle" data-uniqueid="3rOgmzIyM4jVwPl">
            <div id="page-zones__main-widgets__569388e827f67-zones__569388e8326a5-widgets__569388e83c0bd" data-name="content" class="widget  widget--zone-widget js-droppable" data-uniqueid="IRkbPLMaTH6ZMx8">

            <div class="bk-content-text  content  widget__content  js-text-content  wysihtml-editor-content" id="IRkbPLMaTH6ZMx8__editor">

                    <h2 style="text-align: center;">Section 1.10.32 of "de Finibus Malorum"</h2><p style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa&nbsp;quae ab illo inventore veritatis et quasi architecto.</p>
            </div>

        </section>

        <section id="page-zones__main-widgets__569388e827f67-zones__569388e8326a5" class="bk-zone column columns-three-right" data-uniqueid="3rOgmzIyM4jVwPl">
            <div id="page-zones__main-widgets__569388e827f67-zones__569388e8326a5-widgets__569388e83c0bd" data-name="content" class="widget  widget--zone-widget js-droppable" data-uniqueid="IRkbPLMaTH6ZMx8">

            <div class="bk-content-text  content  widget__content  js-text-content  wysihtml-editor-content" id="IRkbPLMaTH6ZMx8__editor">

                    <h2 style="text-align: center;">Section 1.10.32 of "de Finibus Malorum"</h2><p style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa&nbsp;quae ab illo inventore veritatis et quasi architecto.</p>
            </div>

        </section>


            {# {{zone('main')|raw}} #}

        </div>
    </div>
</section>

{% endblock %}


{% block bodyscripts %}

<script src="{{asset('js/hero.js')}}"></script>

<!-- Smooth Scroll -->
<script>
    $(document).ready(function(){

        $('a[href*=#]').bind('click', function(e) {
            e.preventDefault();

            var target = $(this).attr("href");

            $('html, body').stop().animate({ scrollTop: $(target).offset().top}, 1000, function() {
                location.hash = target;
            });

            return false;
        });

    });

</script>

{% endblock %}