// -------------------------------------
// Kings Template: Stylesheet
// -------------------------------------


#tdk-toolbar {
    display: none!important;
}


// ------------------------------
// #Table of Contents
// ------------------------------

//  #Imports
//  #Global Breakpoints
//  #Site Styles
//  #Header / Footer
//  #Navigation

//  #Page Styles
//  -- #Home




// -----------------------------
// #Imports
// -----------------------------

@import "@{templateCommon}/bk-less-framework-v8.less";  // LESS Framework v8
@import "@{templateLocal}/less/fork-variables.less";    // Fork Variables
@import "@{templateLocal}/less/variables.less";         // Variables

@import "@{templateLocal}/less/typography.less";  // Typography
@import "@{templateLocal}/less/mixins.less";      // Mixins
@import "@{templateLocal}/less/widgets.less";     // Widgets
@import "@{templateLocal}/less/layout.less";      // Layout
@import "@{templateLocal}/less/navigation.less";  // Navigation

@import "@{templateLocal}/less/plugins/plugin-blog.less";       // Plugin: Blog
@import "@{templateLocal}/less/plugins/plugin-menu.less";       // Plugin: Menu
@import "@{templateLocal}/less/plugins/plugin-ecommerce.less";  // Plugin: Ecommerce




// ------------------------------
// #Global Breakpoints
// ------------------------------

// Page is contained and centered
@bp-global-above-fullwidth: ~"only screen and (min-width: 1800px)";

// Page displayed full width
@bp-global-below-fullwidth: ~"only screen and (max-width: 1800px)";

@bp-global-large: 	~"only screen and (min-width: 1400px)";
@bp-global-medium: 	~"only screen and (min-width: 770px) and (max-width: 1400px)";
@bp-global-small: 	~"only screen and (max-width: 769px)";
@mobile: ~"only screen and (max-width: 650px)";

@bp-1050: ~"only screen and (max-width: 1050px)";

// When specific styles for responsive columns styles are applied
@bp-global-columns: ~"only screen and (min-width: 478px)";



// ------------------------------
// Site Styles
// ------------------------------


// Body
body {
    background-color: darken(@color__body--background, 12%);
}


// Site Container
.site-container {
    width: 100%;
    .flex-display;
    .flex-direction(column);
    height: 100%;
    min-height: 100vh;
    background-color: @color__body--background;

    @media @bp-global-above-fullwidth {
        width: 90%;
        max-width: @value__container--width;
        margin: 0 auto;
    }
}

// Container
.container {
	width: 90%;
	margin: 0 auto;

	@media @tablet {
		width: 100%;
	}
}


// Main
.main-content {
    position: relative;
    z-index: 50;
    background-color: @color__body--background;
}




// ------------------------------
// #Header / Footer
// ------------------------------

.template-header,
.template-footer {
    width: 100%;

    // Flex Row
	.row {
		.justify-content(space-between);
        .align-items(center);

        @media @mobile {
            display: block;
        }
	}

	.col {
		text-align: center;
		line-height: 0;
		font-size: 0;
	}
}




// #Header
// ------------------------------

.template-header {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
	max-width: @value__container--width;
	background-color: @color__header--background;
	border-bottom: 1px solid @color__site-border;
	box-shadow: 0 0 16px rgba(110, 110, 110, 0.2);
	line-height: 0;
	text-align: center;

	@media @tablet {
		text-align: inherit;
	}

	.container {
		@media @bp-1050 {
			width: 100%;
		}
		@media @tablet {
			.flex-display;
			.justify-content(space-between);
        	.align-items(center);
			width: 90%;
		}
	}
}




// #Footer
// ------------------------------

.template-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: @color__footer--background;

	.col:first-child {
		text-align: left;
	}
	.col:last-child {
		text-align: right;
	}

	@media @bp-1050 {
		text-align: center;

		.col {
			.flex-basis(100%);
		}
		.col:first-child {
			display: none;
		}
		.col:last-child {
			margin-top: 20px;
			text-align: center;
		}
	}

    // Widget
    .widget {
        margin: 0;
    }

	// Mini Navigation
	.nav-item {
		margin: 0 20px;

		&:first-child {
			margin-left: 0;
		}
	}
	.nav-link {
		.heading--4;

		&:hover {
			color: #fff;
		}
	}
    h4,
    .nav-link {
    	color: #8d8d8d;
    }
}




// Logo
// ------------------------------

.logo {
	display: inline-block;

	@media @bp-1050 {
		margin: 20px 0;
	}
	@media @tablet {
		margin: 0;
	}
	@media @mobile {
		max-width: 150px;
	}
}

// Logo Link
.logo-link {
	.transition(.6s);

	&:hover {
		opacity: .4;
	}
}




// ------------------------------
// Page Styles
// ------------------------------


// General Page Styles
// ------------------------------


.page {
    .flex(1 1 auto);

	// Inner Pages
    &--inner .main-content {
		padding-top: @value__widget--spacing--desktop;

	    @media @bp-global-medium {
	        padding-top: @value__widget--spacing--laptop;
	    }
	    @media @tablet {
	        padding-top: @value__widget--spacing--tablet;
	    }
	    @media @mobile {
	        padding-top: @value__widget--spacing--mobile;
	    }
    }
}




// Page Title
// ------------------------------

.page-title {
	background-image: image('/images/feature-image.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;


	// About Image
    &--about {
		background-image: image('/images/feature-image--about.jpg');
    }

    // About Image
    &--about {
		background-image: image('/images/feature-image--about.jpg');
    }
    // Services Image
    &--services {
		background-image: image('/images/feature-image--services.jpg');
    }

    // Case Studies Image
    &--case-studies {
		background-image: image('/images/feature-image--case-studies.jpg');
    }

    // Careers Image
    &--careers {
		background-image: image('/images/feature-image--careers.jpg');
    }

    // Contact Image
    &--contact {
		background-image: image('/images/feature-image--contact.jpg');
    }


    // Typography
    h1 {
    	padding-bottom: 0;
    	color: #fff;

    	&:after {
    		display: none;
    	}
    }

}

// Page Title Content Wrap
.page-title-content-wrap {
	.flex-display;
    .align-items(center);
    .justify-content(center);
	height: 300px;
	margin-top: 61px;
	background-color: fade(@color__feature-content--background, 70%);

	@media @bp-1050 {
		margin-top: 138px;
    }
	@media @tablet {
		margin-top: 61px;
		height: 200px;
    }
    @media @mobile {
    	margin-top: 51px;
		height: 130px;
    }
}






// Sections
// ------------------------------

.section {
	display: inline-block;
	width: 100%;
    text-align: center;
    padding: @value__widget--spacing--desktop 0;

    @media @bp-global-medium {
        padding: @value__widget--spacing--laptop 0;
    }
    @media @tablet {
        padding: @value__widget--spacing--tablet 0;
    }
    @media @mobile {
        padding: @value__widget--spacing--mobile 0;
    }


	// Dark BGs
    &--dark {
    	h1, h3 {
    		color: #fff;
    	}
    	h3 {
    		opacity: .8;
    	}
    }


	// Section Content Wrap
    .section-content-wrap {
    	max-width: 830px;
    	margin: 0 auto;
    }

}




// CTA Rows
// ------------------------------

.cta-row {
	position: relative;
    margin-top: @value__widget--spacing--desktop;

    @media @bp-global-medium {
        margin-top: @value__widget--spacing--laptop;
    }
    @media @tablet {
        margin-top: @value__widget--spacing--tablet;
    }
    @media @mobile {
        margin-top: @value__widget--spacing--mobile;
    }

	&:before {
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 23px;
	    display: inline-block;
	    margin: 0 auto;
	    max-width: 690px;
	    height: 2px;
	    background-color: @color__site-border;
	    content: "";
	}
}




// ------------------------------
// Home Page Styles
// ------------------------------


// Section: About FDM
// ------------------------------

.section--about {
	[data-widget-type="image"] {
	    margin: 0 0 20px 0 !important;

	    @media @tablet {
	        margin-bottom: 10px !important;
	        transform: scale(.8);
	    }
	}

	.col--third:last-child {
		@media @tablet {
			.flex-basis(70%);
			margin: 30px auto 0;
		}
		@media @mobile {
			.flex-basis(100%);
		}
	}
}


// Section: Services
// ------------------------------

.section--services {
	background-image: image('/images/services-section-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    // Service List
    .service-list {
    	.flex-display;
    	.justify-content(space-around);
    	max-width: 690px;
    	margin: 0 auto;
    	padding: 50px 40px 70px;
    	border: 3px solid rgba(255, 255, 255, 0.1);
    	text-align: left;

    	@media @tablet {
    		max-width: 620px;
    	}
    	@media @mobile {
    		display: block;
    		border: 0;
    		padding: 0 0 60px 60px;
    	}

    	.widget:first-child {
			margin: 0;
		}
    }

    // Service List Item
    .service-list-item {
    	display: inline-block;

    	@media @mobile {
    		margin-bottom: 10px;
    	}

		h3 {
			font-size: 19px;
			opacity: 1;

			@media @tablet {
				font-size: 17px;
			}

			&:before {
				display: inline-block;
				margin-right: 20px;
				width: 8px;
				height: 8px;
				content: "";
				.border-radius(50%);
				border: 2px solid @color__primary;
			}
		}
    }

    // CTA Button
    [data-widget-type="button"] {
    	margin-top: -27px;
    	margin-bottom: 97px;
    }
}




// Section: Clients
// ------------------------------

// Client Logos
.client-logos {
	.flex-display;
    .justify-content(space-around);
    .align-items(center);

    @media @mobile {
    	display: block;
    }

    [data-widget-type="image"] {
    	margin: 0;

    	@media @mobile {
    		margin-bottom: 30px;
    	}
    }
}

// Client Quote
.client-quote {
	position: relative;
	margin-top: 90px;
	padding: 60px 50px 50px;
	border: 3px solid @color__site-border;

    @media @bp-global-medium {
        margin-top: @value__widget--spacing--laptop;
    }
    @media @tablet {
    	width: 90%;
        margin: 40px auto 0;
    }
    @media @mobile {
        margin-top: 60px;
    }

	// Quote Mark
    &:before {
    	position: absolute;
    	top: -4px;
    	left: 0;
    	right: 0;
		display: inline-block;
		width: 80px;
		margin: 0 auto;
		padding: 0 60px 0 25px;
		background-color: #fff;
		font-family: @font__h1--font-family;
		font-size: 110px;
		line-height: 50px;
		color: @color__primary;
		content: "“";
    }

    .widget {
    	margin: 0;
    }

	h3 {
		font-size: 19px;
		line-height: 38px;

		@media @mobile {
	    	font-size: 17px;
			line-height: 32px;
	    }
	}
}




// Section: Contact
// ------------------------------

.section--contact {
	background-color: #f7f7f7;
	text-align: left;

	.section-content-wrap {
		.flex-display;
	    .justify-content(space-between);
	    width: 90%;
	    max-width: 1024px;
	    margin: 0 auto;

	    @media @tablet {
	    	max-width: 90%;
	    	margin: 0 auto;
	    	text-align: center;
	    }
	}

	.widget {
		margin: 0;
	}

	.form {
		@media @tablet {
			margin-top: 40px;
		}
	}
}






