// ---------------------------------------
// Scribe Template: CSS > Widgets > Divider
// ---------------------------------------

.widget__line {
    line-height: 0;
}

hr.rule {
    height: 3px;
    background-color: darken(@color__body--background, 5%);
}