// -----------------------------------
// Scribe Template: CSS > Widgets > Images
// -----------------------------------


// ------------------------------
// Common Image Styles
// ------------------------------




// Image Link
// ------------------------------


.image-link {
    display: inline-block;
    overflow: visible;
}




// Image Figure
// ------------------------------


.imagewidget__figure {
    margin: 0;
}



// Image Alignment
// ------------------------------


.imagewidget__caption, .imagewidget {
    text-align: center;
}




// Image Caption
// ------------------------------


.imagewidget__caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .flex-display;
    .flex-direction(column);
    .justify-content(center);

    height: 100%;
    margin: 0;
    padding: 30px;
    background-color: fade(@color__slideshow-caption--background, 70%);
    text-align: center;

    @media @bp-global-medium {
        padding: 10px 25px 15px;
    }

    @media @bp-global-small {
        padding: 5px 20px 5px;
    }
}




// Image Title
// ------------------------------


// .imagewidget__image-title {
//     font-family: @font__feature-headline--font-family;
//     font-size: 22px;
//     font-weight: @font__feature-headline--font-weight;
//     line-height: 30px;
//     letter-spacing: 1px;
//     color: @color__feature-headline--text;
//     text-transform: uppercase;

//     @media @tablet {
//         font-size: 28px;
//         line-height: 32px;
//     }
//     @media @mobile {
//         font-size: 22px;
//         line-height: 28px;
//     }
// }




// Image Description
// ------------------------------

// .imagewidget__image-description {
//     font-size: 12px;
//     font-weight: @font__feature-strapline--font-weight;
//     line-height: 26px;
//     color: @color__feature-strapline--text;
// }




// ------------------------------
//  Image Widget
// ------------------------------


// Image Title
// ------------------------------

.imagewidget .image-title:after {
    margin: 0 auto;
}
