// -----------------------------------
// Scribe Template: CSS > Widgets > Images
// -----------------------------------


// ------------------------------
// Common Image Styles
// ------------------------------




// Image Link
// ------------------------------


.image-link {
    display: inline-block;
    overflow: visible;
}




// Image Figure
// ------------------------------


.imagewidget__figure {
    margin: 0;
}



// Image Alignment
// ------------------------------


.imagewidget__caption, .imagewidget {
    text-align: center;
}




// Image Caption
// ------------------------------


.imagewidget__caption {
    padding: 1em 0;
}




// Image Title
// ------------------------------


.image-title {
    padding-bottom: 0;
    .heading--4;

    @media @bp-global-medium {
        font-size: bkscale(@font__h4--font-size, 0.9);
        line-height: bkscale(@font__h4--line-height, 0.9);
    }

    @media @bp-global-small {
        font-size: bkscale(@font__h4--font-size, 0.7);
        line-height: bkscale(@font__h4--line-height, 0.7);
    }
}




// Image Description
// ------------------------------


.image-description {
    font-size: bkscale(@font__p--font-size, 0.9);
    line-height: bkscale(@font__p--line-height, 0.9);

    @media @bp-global-small {
        font-size: bkscale(@font__p--font-size, 0.8);
        line-height: bkscale(@font__p--line-height, 0.8);
    }
}




// ------------------------------
//  Image Widget
// ------------------------------


// Image Title
// ------------------------------

.imagewidget .image-title:after {
    margin: 0 auto;
}
