<!-- Global CTA: Contact -->
<div class="section  section--hiring">
    <div class="container  container--lrg">

        {{widget('content', 'global-cta-contact-text', { content:'
        	<h2>Have a project in mind?</h2>
            <p>Head over to the contact page, we’d love to talk.</p>

        '})|raw}}

        <a href="/contact" class="button  button--green">Get In Touch Today</a>

    </div>
</div>