<!-- Section: Contact-->
<div class="section  section--grey  section--contact">
    <div class="container">

        <div class="row">
            <div class="col  col--35">
                {{widget('content', 'contact-text1', { content:'
                    <h5>Contact Us</h5>
                    <p class="p-sml">Whether you’re interested in becoming one of our clients, in joining our network of industry experts or in one of our client’s products – please reach out!</p>
                    <p class="contact-p"><b>Tel:</b> (020) 12 345 678</p>
                    <p><b>Email:</b> <a href="mailto:info@fdm.global" class="">info@fdm.global</a></p>
                '})|raw}}
            </div>
            <div class="col  col--65">
                {{widget('contactform', 'contact-form', {
                    'text': 'Submit Enquiry',
                    'formTitle': 'Contact Us',
                    'email': 'profile'
                })|raw}}
            </div>
        </div>

    </div>
</div>