<!-- Footer -->
<footer class="template-footer">
	<div class="container">
		<div class="row">

	        <div class="col  col--third">
				{{widget('content', 'footer-text1', { content:'
	                <h4>Info@fdm.global</h4>
	            '})|raw}}
			</div>
			<div class="col  col--third">
				<a href="/" class="logo-link">
					<img src="{{asset('/images/logo--dark.png')}}" alt="FDM Logo">
				</a>
			</div>
			<div class="col  col--third">
				{{widget('content', 'footer-text2', { content:'
	                <h4>Copyright 2015 © FDM</h4>
	            '})|raw}}
			</div>

		</div>
	</div>
</footer>
