<!-- Footer -->
<footer class="template-footer">

	<div class="container">
        <div class="flex-item">
            {{widget('profile', 'footer-profile1', { 'profileType':'socialicons' })|raw}}
        </div>
        <div class="flex-item">
		    {{widget('profile', 'footer-profile2', { 'profileType':'email' })|raw}}
        </div>
	</div>

</footer>
<!-- End Footer -->