<!-- Header -->
<header class="template-header">
	<div class="row">

        <div class="col  col--third">
			<ul class="nav-list">
				<li class="nav-item"><a href="/" class="nav-link  nav-link--selected">Home</a></li>
				<li class="nav-item"><a href="/about-fdm" class="nav-link">About FDM</a></li>
				<li class="nav-item"><a href="/services" class="nav-link">Services</a></li>
			</ul>
		</div>
		<div class="col  col--third">
			<a href="" class="logo-link">
				<img src="{{asset('/images/logo.png')}}" alt="FDM Logo">
			</a>
		</div>
		<div class="col  col--third">
			<ul class="nav-list">
				<li class="nav-item"><a href="/case-studies" class="nav-link">Case Studies</a></li>
				<li class="nav-item"><a href="/careers" class="nav-link">Careers</a></li>
				<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
			</ul>
		</div>

	</div>
</header>
