<!-- Header -->
<header class="template-header">
	<div class="container">

		<div class="flex-item">
			{{widget('profile', 'profile2', { 'profileType':'phone' })|raw}}
		</div>
		<div class="flex-item">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo1.png')})|raw}}
			{{widget('companyname', 'companyname', {
				"business": "profile",
				"showTplWidget":"0"
			})|raw}}
		</div>
		<div class="flex-item">
			<div class="template-navigation">
				{{widget('extendednavigation', 'extendednavigation', {"align":"left"})|raw}}
			</div>
		</div>

	</div>
</header>
